<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shitcoin creator</title>
    <base href="/" />
  </head>
  <body>
    <h1>Create your shitcoin today!</h1>
    <div id="root"></div>
  </body>
</html>